/******
	Add you style rules below in this file 
	
	Requirements:
	The main container should be 500px wide and centered.
	
	Colors:
	dark orange color: #DB4006
	light orange color: #ec9371

******/

body{
	width: 100%; 
	font-family: sans-serif;
}

.container{
	width: 500px; 
	margin: 0 auto; 
	padding: auto;

}

.item{
	border: 1px solid #000;
	border-radius: 5px; 
	background-color: #ec9371; 		
	margin-bottom: 10px;
}


h1{
	margin: 0;
	background-color: #DB4006;
	padding:5px 10px;
	font-size: 20px;
	color: #fff;
}

span{
	float: right;
	font-size: 18px;
	color: #000;
}

.description{
	padding:0 10px;
}


